[includeIf "gitdir:~/.homesick/repos/"]
                   path = ~/.gitconfig-gitbmc

[includeIf "gitdir:~/.gitbmc/"]
                   path = ~/.gitconfig-gitbmc

[include]
                   path = ~/.gitconfig-local
